/* Navigation Component CSS */

.navigation-container {
  width: 100%;
  padding: 18px 64px;
  background-color: #2f2f2f;
  position: sticky;
  top: 0;
  left: 0;
}

.navigation-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#positive-space-icon {
  height: 21px;
  width: 155px;
  cursor: pointer;
  object-fit: contain;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 30px;
}

li img {
  height: 25px;
  width: 16px;
  object-fit: cover;
  cursor: pointer;
}

#user-icon {
  border-radius: 50%;
}

.hamburger-menu {
  display: none;
}

.responsive-menu {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #2f2f2f;
  padding: 1em 2em;
  overflow: hidden;
}

.responsive-menu h3 {
  color: #fbfef9;
}

.responsive-nav {
  width: inherit;
  padding: 20px;
}

.responsive-nav > ul {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.responsive-nav li {
  display: flex;
  align-items: center;
  padding: 0.5em;
  gap: 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

.responsive-nav img {
  height: 30px;
  width: 21px;
}

/* Navigation Component Responsiveness */

@media screen and (max-width: 768px) {
  .default-menu {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .navigation-container {
    padding: 18px 50px;
  }
}

@media screen and (max-width: 375px) {
  .navigation-container {
    padding: 18px 30px;
  }
}
